.ui-page-body {
    -webkit-overflow-scrolling : touch;
}
input,
textarea {
  -webkit-appearance: none;
}

html,
body,
#app,
.page {
    height: 100%;
}
.container-main {
    padding-top: 40px;
}
.page-header {
    background-color: #fff;
}
.page-footer {
    padding: 40px 0;
    color: #fff;
    text-align: center;
    background-color: #424264;
    a {
        color: #fff;
    }
    .links {
        margin-bottom: 16px;
    }
}
.tab-contents {
    position: relative;
    height: 100%;
    .tab-content {
        position: absolute;
        top: 0;
        left: 1px;
        z-index: 1000;
        width: 100%;
        height: 100%;
        padding: 16px;
        background-color: #fff;
    }
}